.navLink {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}

.wFull::after {
  width: 100%;
}
