@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #5e838e;
}

html body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #5e838e;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #c5c5c5;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #53747e;
}

body {
  color: #010101;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

th {
  background-color: #5e838e;
  color: #fff;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin-top: 1em;
  margin-bottom: 1em;
}

blog-content ul {
  list-style-type: circle;
  padding: 0;
}

blockquote {
  border-left: 5px solid #5e838e;
  margin: 1em 0;
  padding: 0.25rem 1em;
}
