@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #5e838e;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #c5c5c5;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #53747e;
}

body {
  color: #010101;
  margin: 0;
}
